<h1 class="text-center my-5">Sign Up</h1>

<%= form_with(model: @admin, local: true, class: "w-50 mx-auto") do |form| %>
  <% if @admin.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h4>
      <ul>
        <% @admin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :username, class: "form-label" %>
    <%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="text-center">
    <%= form.submit "Sign Up", class: "btn btn-primary w-100" %>
  </div>
<% end %>

<div class="text-center mt-4">
  <%= link_to "Already have an account? Log In", new_session_path, class: "btn btn-link" %>
</div>