<div id="<%= dom_id stat %>">
  <p>
    <strong>Title:</strong>
    <%= stat.title %>
  </p>

  <p>
    <strong>Solution:</strong>
    <%= stat.solution %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= stat.description %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= stat.admin_id %>
  </p>

</div>
